In [23]:
import sqlite3

connection=sqlite3.connect("GullyBois.db")
cursor=connection.cursor()

In [40]:
query='''DROP TABLE AssetRegister;'''
cursor.execute(query)

In [41]:
query=''' CREATE TABLE AssetRegister (machineId INTEGER PRIMARY KEY ,name VARCHAR(20) NOT NULL,facility VARCHAR(20) NOT NULL,factory VARCHAR(20),productionLine VARCHAR(20));
'''

In [42]:
cursor.execute(query)

In [43]:
query='''INSERT INTO AssetRegister (machineId,name,facility,factory,productionLine) VALUES (1,"abc","mumbai","ma","ma1");
'''
cursor.execute(query)
query='''INSERT INTO AssetRegister (machineId,name,facility,factory,productionLine) VALUES (2,"lmn","mumbai","ma","ma2");
'''
cursor.execute(query)
query='''INSERT INTO AssetRegister (machineId,name,facility,factory,productionLine) VALUES (3,"abc","pune","pa","pa1");
'''
cursor.execute(query)
query='''INSERT INTO AssetRegister (machineId,name,facility,factory,productionLine) VALUES (4,"xyz","nagpur","na","na1");
'''
cursor.execute(query)
query='''INSERT INTO AssetRegister (machineId,name,facility,factory,productionLine) VALUES (5,"hjk","nagpur","na","na2");
'''
cursor.execute(query)
query='''INSERT INTO AssetRegister (machineId,name,facility,factory,productionLine) VALUES (6,"abc","mumbai","ma","ma1");'''
cursor.execute(query)

In [5]:
query=''' CREATE TABLE Spare (machineId INTEGER ,componentName VARCHAR(20) NOT NULL,sparesCount INTEGER NOT NULL);
'''
cursor.execute(query)

In [6]:
query='''INSERT INTO Spare (machineId,componentName,sparesCount) VALUES (1,"one_1",3);
'''
cursor.execute(query)
query='''INSERT INTO Spare (machineId,componentName,sparesCount) VALUES (1,"one_2",5);
'''
cursor.execute(query)
query='''INSERT INTO Spare (machineId,componentName,sparesCount) VALUES (1,"one_3",1);
'''
cursor.execute(query)
query='''INSERT INTO Spare (machineId,componentName,sparesCount) VALUES (2,"two_1",7);
'''
cursor.execute(query)
query='''INSERT INTO Spare (machineId,componentName,sparesCount) VALUES (2,"two_2",0);
'''
cursor.execute(query)
query='''INSERT INTO Spare (machineId,componentName,sparesCount) VALUES (3,"three_1",2);
'''
cursor.execute(query)
query='''INSERT INTO Spare (machineId,componentName,sparesCount) VALUES (4,"four_1",7);
'''
cursor.execute(query)
query='''INSERT INTO Spare (machineId,componentName,sparesCount) VALUES (4,"four_2",0);
'''
cursor.execute(query)
query='''INSERT INTO Spare (machineId,componentName,sparesCount) VALUES (4,"four_3",4);
'''
cursor.execute(query)
query='''INSERT INTO Spare (machineId,componentName,sparesCount) VALUES (5,"five_1",9);
'''
cursor.execute(query)

In [7]:
query=''' CREATE TABLE AMC (machineId INTEGER PRIMARY KEY,supplier VARCHAR(20) NOT NULL);
'''
cursor.execute(query)

In [8]:
query='''INSERT INTO AMC (machineId,supplier) VALUES (1,"A");
'''
cursor.execute(query)
query='''INSERT INTO AMC (machineId,supplier) VALUES (2,"A");
'''
cursor.execute(query)
query='''INSERT INTO AMC (machineId,supplier) VALUES (3,"B");
'''
cursor.execute(query)
query='''INSERT INTO AMC (machineId,supplier) VALUES (4,"C");
'''
cursor.execute(query)
query='''INSERT INTO AMC (machineId,supplier) VALUES (5,"D");
'''
cursor.execute(query)

In [20]:
import datetime
query='''CREATE TABLE MaintenanceLog (machineId INTEGER, [timestamp] timestamp, details VARCHAR(200) NOT NULL, comments VARCHAR(200));'''
cursor.execute(query)

In [21]:
query='''INSERT INTO MaintenanceLog (machineId,timestamp,details,comments) VALUES (1,'2015-01-13 13:40:31',"ball bearing replaced","All ball bearings changed successfully");
'''
cursor.execute(query)
query='''INSERT INTO MaintenanceLog (machineId,timestamp,details,comments) VALUES (1,'2015-02-25 17:21:01',"gear replaced","Gear size 3/4 changed");
'''
cursor.execute(query)
query='''INSERT INTO MaintenanceLog (machineId,timestamp,details,comments) VALUES (3,'2015-04-07 09:05:26',"spring changed","Spring of gear shaft changed successfully");
'''
cursor.execute(query)
query='''INSERT INTO MaintenanceLog (machineId,timestamp,details,comments) VALUES (4,'2015-04-08 15:00:01',"lubes applied","Lubes applied wherever necessary");
'''
cursor.execute(query)

In [22]:
query=''' CREATE TABLE Usage (machineId INTEGER PRIMARY KEY,hours INTEGER NOT NULL);
'''
cursor.execute(query)

In [25]:
query='''INSERT INTO Usage (machineId,hours) VALUES (1,3);
'''
cursor.execute(query)
query='''INSERT INTO Usage (machineId,hours) VALUES (2,0);
'''
cursor.execute(query)
query='''INSERT INTO Usage (machineId,hours) VALUES (3,4);
'''
cursor.execute(query)
query='''INSERT INTO Usage (machineId,hours) VALUES (4,23);
'''
cursor.execute(query)
query='''INSERT INTO Usage (machineId,hours) VALUES (5,9);
'''
cursor.execute(query)

In [46]:
connection.commit()
connection.close()

In [47]:
connection=sqlite3.connect("GullyBois.db")
cursor=connection.cursor()

In [55]:
def impactChecker():  
    connection=sqlite3.connect("GullyBois.db")
    cursor=connection.cursor()
    machineName="abc" # we need to write a query for all this as all we will get is machine id
    facilityName="mumbai"
    factoryName="ma"
    productionLine="ma1" # all the above data is from the predictive maintenance saying that this machine is getting spoilt.
    query="SELECT COUNT(*) FROM AssetRegister WHERE name='"+machineName+"' AND facility='"+facilityName+"' AND factory='"+factoryName+"' AND productionLine='"+productionLine+"';"
    cursor.execute(query)
    result=cursor.fetchall()
    count=result[0][0]
    impact=float(1/count)*100 #calculating the impact percentage. i.e 1 spoilt machine / number of same machines.
    if impact > 35: # threshold can be changed according to the user or worklaod.
        print("Hight Impact")
    else:
        print("Low Impact")
    connection.commit()
    connection.close()

In [73]:
def checkSpares(machineId=1,componentName="one_2"):
    connection=sqlite3.connect("GullyBois.db")
    cursor=connection.cursor()
    query = "SELECT sparesCount FROM Spare WHERE machineId="+str(machineId)+" AND componentName='"+componentName+"';"
    cursor.execute(query)
    result = cursor.fetchone()
    if(result[0] > 0):
        print("Spare parts are available")
        scheduleMaintenance()
    else:
        placeOrder(componentid)
    connection.commit()
    connection.close()

Spare parts are available

In [ ]:
def placeOrder(componentid): # If checkSpares() returns false, we need to place an order for a specific component.
    """"Send request to the company for the extra part """
    connection=sqlite3.connect("GullyBois.db")
    cursor=connection.cursor()
    print("Order has been placed for an additional component.") 
    print("Continue with normal use of the machine until the spare component is available.")
    print("Once the spare component is available, schedule a maintenance.")
    print("Check when the component will arrive and schedule maintenance after that.")
    query = "UPDATE spare SET sparesCount =5 WHERE machineId="+str(machineId)+" AND componentName='"+componentName+"';"
    cursor.execute(query)
    connection.commit()
    connection.close()
    scheduleMaintenance()

In [ ]:
def scheduleMaintenance(machineId): # If you have spares and if you've spares in stock, schedule a maintenance.
    """Get impact of the component, compare it against different work orders already placed based on the impact, then schedule the it.
    Check the timetable to find an empty slot, compare it against the previous existing maintenance orders.
    Group common suppliers for components that need repair and schedule their maintenance around the same time"""
    connection=sqlite3.connect("GullyBois.db")
    cursor=connection.cursor()

    cursor.execute("SELECT * FROM timetable")
    results = cursor.fetchall()

    freeslot = findFreeSlot(machineId)
    print("Available free slot is: ",freeslot) 

    commonsupplierslot = commonSuppliers()
    
    connection.commit()
    connection.close()

In [ ]:
def findFreeSlot():

In [4]:
query='''INSERT INTO AMC (machineId,supplier) VALUES (6,"A");
'''
cursor.execute(query)

In [ ]:
query=''' CREATE TABLE PendingMaintenance(machineId INTEGER PRIMARY KEY ,facility VARCHAR(20) NOT NULL,factory VARCHAR(20) NOT NULL, productionLine VARCHAR(20) NOT NULL, supplier VARCHAR(20) NOT NULL,[timestamp] timestamp,details VARCHAR(20));
'''
cursor.execute(query)

In [26]:
#def commonSuppliers(machineId): #we will get machineId as an input
import datetime
connection=sqlite3.connect("GullyBois.db")
cursor=connection.cursor()
machineId=1
query = "SELECT * FROM pendingMaintenance WHERE machineId='"+str(machineId)+"';"
cursor.execute(query)
result=cursor.fetchall()
supplier = result[0][4]
timestamp = result[0][5]
facility = result[0][1]
factory = result[0][2]
query = "SELECT * FROM pendingMaintenance WHERE supplier='"+supplier+"' AND facility='"+facility+"' AND factory='"+factory+"';"
cursor.execute(query)
result = cursor.fetchall()
time=[]

for i in range(len(result)):
    time.append(result[i][5])

for i in range(len(time)):
    t=time[i]
    if timestamp == t:
        continue 
    if timestamp[0:4] == t[0:4] and timestamp[5:7] == t[5:7]:
        if a == b:
            print("hello")
        else:
            if a > b:
                if a - b <7:
                    print("hello")
            else:
                if b - a <7:
                    print("hello")
                
    elif timestamp[0:4] == t[0:4]:
        if int(timestamp[5:7]) > int(t[5:7]):
            if(int(timestamp[5:7]) - int(t[5:7]) == 1):
                if a > b:
                    if a - b > 24:
                        print("hello")
                else:
                    if b - a > 24:
                        print("hello")
        else:
            if(int(t[5:7]) - int(timestamp[5:7]) == 1):
                if a > b:
                    if a - b > 24:
                        print("hello")
                else:
                    if b - a > 24:
                        print("hello")
#schedule maintenance of result[i] along with machine whose maintenance is already scheduled where ever printed hello.

[('A',)]

In [50]:
timestamp = "2015-01-31 13:40:31"
t = "2015-02-09 13:40:31"
a=int(timestamp[8:10])
b=int(t[8:10])

if timestamp[0:4] == t[0:4] and timestamp[5:7] == t[5:7]:
    if a == b:
        print("hello")
    else:
        if a > b:
            if a - b <7:
                print("hello")
        else:
            if b - a <7:
                print("hello")
                
elif timestamp[0:4] == t[0:4]:
    if int(timestamp[5:7]) > int(t[5:7]):
        if(int(timestamp[5:7]) - int(t[5:7]) == 1):
            if a > b:
                if a - b > 24:
                    print("hello")
            else:
                if b - a > 24:
                    print("hello")
    else:
        if(int(t[5:7]) - int(timestamp[5:7]) == 1):
            if a > b:
                if a - b > 24:
                    print("hello")
            else:
                if b - a > 24:
                    print("hello")

mark 1

In [21]:
connection.commit()
connection.close()

In [20]:
import sqlite3
connection=sqlite3.connect("GullyBois.db")
cursor=connection.cursor()
query = "DROP TABLE TimeTable;"
cursor.execute(query)

OperationalError: database is locked

In [14]:
import sqlite3
connection=sqlite3.connect("GullyBois.db")
cursor=connection.cursor()
query = "CREATE TABLE TimeTable(machineId INTEGER NOT NULL, [timestamp] timestamp, code INTEGER NOT NULL);"
cursor.execute(query)

OperationalError: table TimeTable already exists

In [7]:
query = "INSERT INTO TimeTable (machineId,timestamp,code) VALUES (1, '2019-03-09 13:00:00', 1);"
cursor.execute(query)

In [8]:
query = "INSERT INTO TimeTable (machineId,timestamp,code) VALUES (1, '2019-05-09 13:00:00', 0);"
cursor.execute(query)

In [9]:
query = "INSERT INTO TimeTable (machineId,timestamp,code) VALUES (2, '2019-05-10 13:00:00', 2);"
cursor.execute(query)

In [13]:
#def findFreeSlot(machineId):
import sqlite3
connection=sqlite3.connect("GullyBois.db")
cursor=connection.cursor()
query = "SELECT * FROM  TimeTable;"
cursor.execute(query)
result = cursor.fetchall()

def sortFirst(result): # Sorts according to the 1st element of the tuple in the list. [('first','second'),('first1', 'second1')]
    return result[0]  
result.sort(key = sortSecond)  
print(result) 

for i in range(len(result)):
    if result[i][0] == machineId and result[i][2] == 0:
        return result[i][1]

None

#Pending:
	Production not being affected

In [ ]:
#def findProdLines(machineId):  If a machine is under maintenance in 1 production line, other machines in the same production line can also be scheduled to avoid more wastage.
machineId = 1
query = "SELECT * FROM PendingMaintenance WHERE machineId="+str(machineId)+";"
cursor.execute(query)

result = cursor.fetchall()
facility = result[0][1]
factory = result[0][2]
productionLine = result[0][3]
timestamp = result[0][5]

query = "SELECT machineId,timestamp FROM PendingMaintenance WHERE facility='"+facility+"' AND factory='"+factory+"' AND productionLine='"+productionLine+"';" 
cursor.execute(query)
result = cursor.fetchall()
for i in range(len(result)):
    t = result[i][1]
    if t[0:10] == timestamp[0:10]:
        print("hello")

    elif timestamp[0:4] == t[0:4] and timestamp[5:7] == t[5:7]:
        a=int(timestamp[8:10])
        b=int(t[8:10])
        if a == b:
            print("hello")
        else:
            if a > b:
                if a - b <7:
                    print("hello")
            else:
                if b - a <7:
                    print("hello")

    elif timestamp[0:4] == t[0:4]:
        if int(timestamp[5:7]) > int(t[5:7]):
            if(int(timestamp[5:7]) - int(t[5:7]) == 1):
                if a > b:
                    if a - b > 24:
                        print("hello")
                else:
                    if b - a > 24:
                        print("hello")
        else:
            if(int(t[5:7]) - int(timestamp[5:7]) == 1):
                if a > b:
                    if a - b > 24:
                        print("hello")
                else:
                    if b - a > 24:
                        print("hello")
# We schedule the maintenance of the other machineId if we print hello along with the original input id